@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --mainColor: rgba(204, 204, 255, 0.75);
  --secondaryColor: rgba(204, 238, 255, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--mainColor);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: -1;
  border-bottom: var(--secondaryColor) solid 5px;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 100%;
}

.title {
  justify-content: center;
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 7px 0;
  width: 100%;
  justify-content: center;
}

header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}

header nav ul li {
  background-color: var(--secondaryColor);
  padding: 10px;
  border-radius: 30px;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 2.0vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  border-radius: 15px;
  text-shadow: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.aboutMe {
  display: flex;
  flex-wrap: wrap;
  height: 300px
}

.aboutMe img {
  height: 200px;
  max-width: 100%;
  border-radius: 20px;
  float: left;
  border: var(--secondaryColor) solid 5px;
}

#aboutTxt {
  background-color: var(--secondaryColor);
  border-radius: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.aboutContent {
  float: right;
}

.aboutContent article {
  margin: 20px;
}

.sectionTitle {
  text-align: center;
  text-decoration-color: rgb(102, 102, 102);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projectTitle {
  position: absolute;
  color: rgba(0, 0, 0, 1);
  background-color: var(--secondaryColor);
  border-radius: 30px;
}

section {
  padding: 60px;
}

#projects {
  text-align: center;
}

.centerPiece {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  height: 500px;
  justify-content: center;
}

.centerPiece img  {
  position: relative;
  height: 500px;
  min-height: 500px;
  max-width: 750px;
  min-width: 750px;
  width: 100%;
  border-radius: 20px;
  background-position: 75%;
  border: var(--secondaryColor) solid 5px;
  -webkit-filter: blur(3px);
filter: blur(3px);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}

.centerPiece:hover img {
-webkit-filter: blur(0);
filter: blur(0);
}

.centerBox {
  flex: 3;
}

.projectBox {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.projectBox img {
  position: relative;
  max-height: 250px;
  min-height: 250px;
  max-width: 400px;
  min-width: 400px;
  background-position: 75%;
  border-radius: 20px;
  border: var(--secondaryColor) solid 5px;
}

.project img {
  -webkit-filter: blur(3px);
filter: blur(3px);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}

.project:hover img {
-webkit-filter: blur(0);
filter: blur(0);
}

.project h3 {
  font-size: 46px;
  flex: 1 30%;
}


.container {
  flex: 1;
  padding: 25px
}

.contain img:hover {
  opacity: 0.5;
}

.buffer {
display: flex;
}

.spacer {
padding: 20px;
flex: 1;
}

footer {
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: -1;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  border-top: var(--secondaryColor) solid 5px;
}

footer ul {
  list-style: none;
}

footer ul li a {
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

footer ul li a:hover {
  border-radius: 15px;
  text-shadow: none;
} */